<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin plugin="publish-over-ssh@1.18">
			<delegate>
				<consolePrefix>SSH: </consolePrefix>
				<delegate plugin="publish-over@0.21">
					<publishers>
						<jenkins.plugins.publish__over__ssh.BapSshPublisher plugin="publish-over-ssh@1.18">
							<configName>ALOA.OVH</configName>
							<verbose>false</verbose>
							<transfers>
								<jenkins.plugins.publish__over__ssh.BapSshTransfer>
									<remoteDirectory/>
									<sourceFiles/>
									<excludes/>
									<removePrefix/>
									<remoteDirectorySDF>false</remoteDirectorySDF>
									<flatten>false</flatten>
									<cleanRemote>false</cleanRemote>
									<noDefaultExcludes>false</noDefaultExcludes>
									<makeEmptyDirs>false</makeEmptyDirs>
									<patternSeparator>[, ]+</patternSeparator>
									<execCommand>cd decopeint85
										git add . -v 
										git commit --author="Timothee Via Jenkins &lt;timotheebarreteau@gmail.com&gt;" -m 'Sauvegarde journaliere' | true
									</execCommand>
									<execTimeout>120000</execTimeout>
									<usePty>false</usePty>
									<useAgentForwarding>false</useAgentForwarding>
								</jenkins.plugins.publish__over__ssh.BapSshTransfer>
							</transfers>
							<useWorkspaceInPromotion>false</useWorkspaceInPromotion>
							<usePromotionTimestamp>false</usePromotionTimestamp>
						</jenkins.plugins.publish__over__ssh.BapSshPublisher>
					</publishers>
					<continueOnError>false</continueOnError>
					<failOnError>false</failOnError>
					<alwaysPublishFromMaster>false</alwaysPublishFromMaster>
					<hostConfigurationAccess class="jenkins.plugins.publish_over_ssh.BapSshPublisherPlugin" reference="../.."/>
				</delegate>
			</delegate>
		</jenkins.plugins.publish__over__ssh.BapSshBuilderPlugin>
		<hudson.tasks.Shell>
			<command>cd $HOME/HOME/DecoPeint85;
				git fetch site master
				git reset --hard site/master
				git push origin master -f
				WPNAME='DecoPeint85'
				WPDBVERSION=''
				WPPLUGIN=''
				URL='http://www.decopeint85.fr/'
				TYPE='none'
				SERV='OVH ALOA.OVH'
				curl http://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV"
			</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>