<?xml version='1.1' encoding='UTF-8'?>
<project>
  <description>Tache automatisée pour sauvegarder les fichiers du site : http://www.aidvy.com/</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQRdA3I55TiEO97mcoduJQkfP/pYwzUm5S0SP8WsjAwwc=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 2 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#Connexion u serveur Aidvy
ssh aidvycompe@ftp.cluster005.hosting.ovh.net &apos;zip -r aidvy_$(date +%Y-%m-%d).zip www&apos;
#On se met à la racine de Jenkins
cd /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis aloa.ovh vers Jenkins
scp -r aidvycompe@ftp.cluster005.hosting.ovh.net:aidvy_$(date +%Y-%m-%d).zip /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis Jenkins vers le serveur &quot;zwgipbh&quot;
scp -r /var/lib/jenkins/HOME/aidvy_$(date +%Y-%m-%d).zip zwgipbh@ftp.cluster020.hosting.ovh.net:Sauvegarde/aidvy/
#On efface le zip sur aloa.ovh
ssh aloaovhjok@ftp.cluster023.hosting.ovh.net  &apos;rm -r aidvy_$(date +%Y-%m-%d).zip&apos;
# On conserve que les 15 derniers jours
ssh zwgipbh@ftp.cluster020.hosting.ovh.net  &apos;find Sauvegarde/aidvy/ -ctime +14 -exec rm {} \;&apos;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>60</daysToKeep>
      <numToKeep>-1</numToKeep>
      <resultsToDiscard/>
      <minLogFileSize>-1</minLogFileSize>
      <maxLogFileSize>-1</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>-1</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
  </publishers>
  <buildWrappers/>
</project>