<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.25.1">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.14">
      <gogsSecret></gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &apos;GDSA85 :&apos;
curl &apos;http://pro-smtp.fr/&apos; -s -L -o gdsa85.txt \
  -H &apos;Connection: keep-alive&apos; \
  -H &apos;Pragma: no-cache&apos; \
  -H &apos;Cache-Control: no-cache&apos; \
  -H &apos;Upgrade-Insecure-Requests: 1&apos; \
  -H &apos;Origin: http://pro-smtp.fr&apos; \
  -H &apos;Content-Type: application/x-www-form-urlencoded&apos; \
  -H &apos;User-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.121 Safari/537.36&apos; \
  -H &apos;Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9&apos; \
  -H &apos;Referer: http://pro-smtp.fr/&apos; \
  -H &apos;Accept-Language: fr-FR,fr;q=0.9,en-US;q=0.8,en;q=0.7&apos; \
  -H &apos;Cookie: PHPSESSID=drlhm31jndrlvoq78t28neut37&apos; \
  --data-raw &apos;login=GDSA85&amp;password=Gds%40-85&amp;connect=Connexion&apos; \
  --compressed \
  --insecure
grep -rni gdsa85.txt -e &apos;Il vous reste&apos;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>