<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.29">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.20.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.14">
      <gogsSecret>Palmier-10</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.60">
    <script>#!/usr/bin/env groovy

import groovy.json.JsonOutput

def slackNotificationChannel = &apos;reports&apos;

def notifySlack(text, channel, attachments) {
	def slackURL = &apos;https://hooks.slack.com/services/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&apos;
		def jenkinsIcon = &apos;https://wiki.jenkins-ci.org/download/attachments/2916393/logo.png&apos;

		def payload = JsonOutput.toJson([text: text,
				channel: channel,
				username: &quot;Jenkins NS300&quot;,
				icon_url: jenkinsIcon,
				attachments: attachments
		])

		sh &quot;curl -X POST --data-urlencode \&apos;payload=${payload}\&apos; ${slackURL}&quot;
}


timestamps {
    node () {
    	stage (&apos;Aloa - TRIPAP - Déploiement TripapyrusPlanning - Build&apos;) {
            sh &quot;&quot;&quot; 
            cd /var/lib/jenkins/HOME/Tripapyrus_planning
            git fetch origin planning &amp;&amp; git reset --hard origin/planning
            npm install 
            cross-env ENV=&apos;prod&apos; ionic cordova build browser
            cp -r platforms/browser/www/* ../Tripapyrus_planning_browser_releases
            cd /var/lib/jenkins/HOME/Tripapyrus_planning_browser_releases
            git add . -v
            git commit -m &apos;Commit auto&apos;
            git push origin master
            git push site master
            ssh tripapyrpa@ftp.cluster011.hosting.ovh.net &apos;cd planning; git checkout -f&apos; 
             &quot;&quot;&quot; 
    	}
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>