<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>GENERATED JOB</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.20.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 4 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd $HOME/HOME/HadVendee_Glpi;
				USER=had_aloa
				PASS=Palmier-10
				HOST=ftp.onlinux-fr.setupdns.net				
				
				wget -mnH --cut-dirs=2 ftp://$USER:$PASS@$HOST/public/glpi -X public/glpi/.git

				git add . -v
				git commit -m &apos;Sauvegarde journaliere&apos; | true
				git push origin master -f | true
				
				WPNAME=&apos;GLPI_hadvendee&apos;
				WPDBVERSION=``
				WPPLUGIN=``
				URL=&apos;http://glpi.hadvendee.com/&apos;
				TYPE=&apos;&apos;
				curl http://aloa:Palmier-10@dev.timotheebarreteau.fr/post.php -X POST -d &quot;type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>