<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Sauvegarde du site Joomla : https://reseauvendeediabete.com/</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQ5KaqjvQFMdOickyUgSCz2UAAhBwgFSSQoPgfc0wy8q0=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>52 22 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd $HOME/HOME/ReseauVendeeDiabete;
USER=reseauvejp
PASS=DfG3B8DN4VXK
HOST=ftp.cluster011.ovh.net				

# On récupère les fichiers du site vers le Jenkins
wget -mnH --cut-dirs=1 ftp://$USER:$PASS@$HOST/www -X www/.git
# On crée le zip 
zip -r reseauvendeediabete_$(date +%Y-%m-%d).zip $HOME/HOME/ReseauVendeeDiabete
#On réalise une copie des fichiers depuis Jenkins vers le serveur &quot;zwgipbh&quot;
scp -r /var/lib/jenkins/HOME/ReseauVendeeDiabete/reseauvendeediabete_$(date +%Y-%m-%d).zip aloaovhjok@ftp.cluster023.hosting.ovh.net:Sauvegarde/reseau-vendee-diabete/
#On efface le fichier zip de Jenkins
cd $HOME/HOME/ReseauVendeeDiabete
rm -r reseauvendeediabete_$(date +%Y-%m-%d).zip
# On conserve que les 15 derniers jours
ssh aloaovhjok@ftp.cluster023.hosting.ovh.net  &apos;find Sauvegarde/reseau-vendee-diabete/ -ctime +14 -exec rm {} \;&apos;

WPNAME=&apos;ReseauVendeeDiabete&apos;
WPDBVERSION=`cat language/en-GB/en-GB.xml | grep &quot;&lt;version&gt;&quot; | cut -d &apos;&gt;&apos; -f 2 | cut -d &apos;&lt;&apos; -f 1`
WPPLUGIN=&apos;&apos;
URL=&apos;http://reseauvendeediabete.com&apos;
TYPE=&apos;joomla&apos;
SERV=&apos;&apos;
FAVICON=&apos;http://reseauvendeediabete.com/templates/aloa/favicon.ico&apos;
# curl https://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d &quot;type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV&amp;favicon=$FAVICON&quot;
			</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>60</daysToKeep>
      <numToKeep>-1</numToKeep>
      <resultsToDiscard/>
      <minLogFileSize>-1</minLogFileSize>
      <maxLogFileSize>-1</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>-1</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
  </publishers>
  <buildWrappers/>
</project>