<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Tache automatisée pour sauvegarder les fichiers du site : https://www.scy85.fr/</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQRF4GMZ6u4zIZFC2dgP/Z37VID7YE8clu66QvoLFpi0g=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 2 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#Connexion à aloa.ovh
ssh aloaovhjok@ftp.cluster023.hosting.ovh.net &apos;zip -r scy85_$(date +%Y-%m-%d).zip Scy85 -x *.git*&apos;
#On se met à la racine de Jenkins
# cd /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis aloa.ovh vers Jenkins
# scp -r aloaovhjok@ftp.cluster023.hosting.ovh.net:scy85_$(date +%Y-%m-%d).zip /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis Jenkins vers le serveur &quot;aloa.ovh&quot;
# scp -r /var/lib/jenkins/HOME/scy85_$(date +%Y-%m-%d).zip zwgipbh@ftp.cluster020.hosting.ovh.net:/Sauvegarde/scy85/
# scp -r /var/lib/jenkins/HOME/scy85_$(date +%Y-%m-%d).zip aloaovhjok@ftp.cluster023.hosting.ovh.net.net:Sauvegarde/scy85/
#On efface le fichier zip d&apos;aloa.ovh
# ssh aloaovhjok@ftp.cluster023.hosting.ovh.net &apos;rm -r scy85_$(date +%Y-%m-%d).zip&apos;
#On déplace le fichier zip d&apos;aloa.ovh
ssh aloaovhjok@ftp.cluster023.hosting.ovh.net &apos;mv scy85_$(date +%Y-%m-%d).zip Sauvegarde/scy85/&apos;
#On efface le zip du Jenkins
# cd /var/lib/jenkins/HOME/
# rm -r scy85_$(date +%Y-%m-%d).zip
# On conserve que les 15 derniers jours
ssh aloaovhjok@ftp.cluster023.hosting.ovh.net  &apos;find Sauvegarde/scy85/ -ctime +14 -exec rm {} \;&apos;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher plugin="discard-old-build@1.05">
      <daysToKeep>60</daysToKeep>
      <numToKeep>-1</numToKeep>
      <resultsToDiscard/>
      <minLogFileSize>-1</minLogFileSize>
      <maxLogFileSize>-1</maxLogFileSize>
      <intervalDaysToKeep>-1</intervalDaysToKeep>
      <intervalNumToKeep>-1</intervalNumToKeep>
      <regexp></regexp>
    </org.jenkinsci.plugins.discardbuild.DiscardBuildPublisher>
    <hudson.tasks.Mailer plugin="mailer@408.vd726a_1130320">
      <recipients>wordpress@aloa-informatique.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>