<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>cd $HOME/HOME/PlanchotBoutique;
				USER=aloa85
				PASS=Palmier-10
				HOST=ftp.planchot.com				
				
				wget -mnH --cut-dirs=3 ftp://$USER:$PASS@$HOST/public/www/boutique -X public/www/boutique/.git

				git add . -v
				git commit -m 'Sauvegarde journaliere' | true
				git push origin master -f | true
				
				WPNAME='Planchot_Boutique'
				WPDBVERSION=``
				WPPLUGIN=``
				URL='http://www.planchot.com/boutique/Planchot-Chocolatier-Tresse-Doree'
				TYPE=''
				SERV=''
				curl http://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV"</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>