<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>cd $HOME/HOME/Unc85_Refonte;
				USER=uncwgeep
				PASS=mCtvuFqz
				HOST=ftp.cluster015.ovh.net				
				
				wget -mnH --cut-dirs=1 ftp://$USER:$PASS@$HOST/www

				git add . -v
				git commit -m 'Sauvegarde journaliere' | true
				git push origin master -f | true
				
				WPNAME='unc85_refonte'
				WPDBVERSION=`cat wp-includes/version.php | grep "wp_version =" | cut -d \' -f 2`
				WPPLUGIN=`find wp-content/plugins/ -type d -maxdepth 1 | cut -f3 -d '/'`
				URL='https://www.unc85.com/'
				TYPE='wordpress'
				curl http://aloa:Palmier-10@dev.timotheebarreteau.fr/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL"</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>