<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>#!/bin/bash
cd $HOME/HOME/Handiespoir;
USER=handiespoir_site
PASS=Palmier-21
HOST=handiespoir.fr				

wget -mnH --cut-dirs=2 ftp://$USER:$PASS@$HOST/public/www -X public/www/.git

git add . -v
git commit -m 'Sauvegarde journaliere' | true
git push origin master -f

WPNAME='HandiEspoir'
WPDBVERSION=`cat language/en-GB/en-GB.xml | grep "&lt;version&gt;" | cut -d '&gt;' -f 2 | cut -d '&lt;' -f 1`
WPPLUGIN=''
URL='http://www.handiespoir.fr/pvad/'
TYPE='joomla'
SERV=''
curl http://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV"
			</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>