<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>GENERATED JOB</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.20.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 4 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd $HOME/HOME/Aob-Tools;
USER=aobtools
PASS=Palmier-21
HOST=ftp.onlinux-fr.setupdns.net				

wget -mnH --cut-dirs=2 ftp://$USER:$PASS@$HOST/public/www -X public/www/.git

git add . -v
git commit -m &apos;Sauvegarde journaliere&apos; | true
git push origin master -f

WPNAME=&apos;Aob-Tools&apos;
WPDBVERSION=`cat language/en-GB/en-GB.xml | grep &quot;&lt;version&gt;&quot; | cut -d &apos;&gt;&apos; -f 2 | cut -d &apos;&lt;&apos; -f 1`
WPPLUGIN=&apos;&apos;
URL=&apos;http://www.aob-tools.com&apos;
TYPE=&apos;joomla&apos;
SERV=&apos;&apos;
FAVICON=&apos;http://www.aob-tools.com/templates/gantry/images/favicon.ico&apos;
curl http://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d &quot;type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV&amp;favicon=$FAVICON&quot;
			</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>