<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Tache automatisée pour sauvegarder les fichiers du site : https://www.originehalle.com/lesherbiers/</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQT7Mz1v0RIp0sIQasARCL8JkKf3U4DXlCL6YqgNw9OKA=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 2 * * 0</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#Connexion à aloa.ovh
ssh origineh@ssh.cluster006.hosting.ovh.net  &apos;zip -r originehalle_$(date +%Y-%m-%d).zip www/&apos;
#On se met à la racine de Jenkins
cd /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis aloa.ovh vers Jenkins
scp -r origineh@ssh.cluster006.hosting.ovh.net:originehalle_$(date +%Y-%m-%d).zip /var/lib/jenkins/HOME/
#On réalise une copie des fichiers depuis Jenkins vers le serveur &quot;zwgipbh&quot;
scp -r /var/lib/jenkins/HOME/originehalle_$(date +%Y-%m-%d).zip zwgipbh@ftp.cluster020.hosting.ovh.net:Sauvegarde/originehalle/
#On efface le zip sur aloa.ovh
ssh origineh@ssh.cluster006.hosting.ovh.net  &apos;rm -r originehalle_$(date +%Y-%m-%d).zip&apos;
# On conserve que les 15 derniers jours
ssh zwgipbh@ftp.cluster020.hosting.ovh.net  &apos;find Sauvegarde/originehalle/ -ctime +21 -exec rm {} \;&apos;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>