<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>#!/bin/bash
cd $HOME/HOME/MenuiserieBiaud;
USER=menuiserav
PASS=cT4FhegR9rhh
HOST=ftp.cluster011.ovh.net				

wget -mnH --cut-dirs=1 ftp://$USER:$PASS@$HOST/www -X www/.git

git add . -v
git commit -m 'Sauvegarde journaliere' | true
git push origin master -f | true

WPNAME='MenuiserieBiaud'
WPDBVERSION=``
WPPLUGIN=``
URL='http://www.menuiseriebiaud.com/'
TYPE=''
SERV=''
FAVICON='http://www.menuiseriebiaud.com/images/5585856e-94ae-4740-b786-5aa4326cbcd3_page_logo'
curl http://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV&amp;favicon=$FAVICON"</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>