<?xml version="1.0" encoding="UTF-8"?><project>
	<actions/>
	<description>GENERATED JOB</description>
	<keepDependencies>false</keepDependencies>
	<properties/>
	<scm class="hudson.scm.NullSCM"/>
	<canRoam>true</canRoam>
	<disabled>false</disabled>
	<blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
	<blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
	<triggers>
		<hudson.triggers.TimerTrigger>
			<spec>H 4 * * *</spec>
		</hudson.triggers.TimerTrigger>
	</triggers>
	<concurrentBuild>false</concurrentBuild>
	<builders>
		<hudson.tasks.Shell>
			<command>#!/bin/bash
cd $HOME/HOME/GroupementMerVie;
USER=groupemebh
PASS=Palmier10Palmier10
HOST=ftp.cluster020.hosting.ovh.net				

wget -mnH --cut-dirs=1 ftp://$USER:$PASS@$HOST/www -X www/.git

git add . -v
git commit -m 'Sauvegarde journaliere' | true
git push origin master -f | true

WPNAME='GroupementMerVie'
WPDBVERSION=`cat wp-includes/version.php | grep "wp_version =" | cut -d \' -f 2`
WPPLUGIN=`find wp-content/plugins/ -type d -maxdepth 1 | cut -f3 -d '/'`
URL='https://www.groupement-mer-vie.fr/'
TYPE='wordpress'
SERV=''
FAVICON='https://www.groupement-mer-vie.fr/wp-content/uploads/2017/09/Logo_mereetvie.png'
curl https://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d "type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV&amp;favicon=$FAVICON"

declare -u UPPER_LF="GroupementMerVie"
mkdir -p $HOME/HOME/_Rapports/$UPPER_LF
~/.timotheeBin/phploc wp-content/themes &gt; $HOME/HOME/_Rapports/$UPPER_LF/rapport_phploc.txt
~/.timotheeBin/phpmetrics wp-content/themes --report-html=$HOME/HOME/_Rapports/$UPPER_LF/rapport_phpmetrics
			</command>
		</hudson.tasks.Shell>
	</builders>
	<publishers/>
	<buildWrappers/>
</project>