<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>GENERATED JOB</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 4 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
cd $HOME/HOME/GroupementMerVie;
USER=groupemebh
PASS=Palmier10Palmier10
HOST=ftp.cluster020.hosting.ovh.net				

wget -mnH --cut-dirs=1 ftp://$USER:$PASS@$HOST/www -X www/.git

git add . -v
git commit -m &apos;Sauvegarde journaliere&apos; | true
git push origin master -f | true

WPNAME=&apos;GroupementMerVie&apos;
WPDBVERSION=`cat wp-includes/version.php | grep &quot;wp_version =&quot; | cut -d \&apos; -f 2`
WPPLUGIN=`find wp-content/plugins/ -type d -maxdepth 1 | cut -f3 -d &apos;/&apos;`
URL=&apos;https://www.groupement-mer-vie.fr/&apos;
TYPE=&apos;wordpress&apos;
SERV=&apos;&apos;
FAVICON=&apos;https://www.groupement-mer-vie.fr/wp-content/uploads/2017/09/Logo_mereetvie.png&apos;
curl https://aloa:Palmier-10@monit.aloa.ovh/RapportsMonitoring/post.php -X POST -d &quot;type=$TYPE&amp;name=$WPNAME&amp;version=$WPDBVERSION&amp;plugin=$WPPLUGIN&amp;url=$URL&amp;serveur=$SERV&amp;favicon=$FAVICON&quot;
			</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>