<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@2.0.0">
      <doNotScan>false</doNotScan>
    </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    <org.jenkinsci.plugins.gogs.GogsProjectProperty plugin="gogs-webhook@1.0.15">
      <gogsSecret>{AQAAABAAAAAQ2SHCym+Ohdz6bKgIw6d0TmGYy/sLz0f5PLIipQ9yCa8=}</gogsSecret>
      <gogsUsePayload>false</gogsUsePayload>
      <gogsBranchFilter></gogsBranchFilter>
    </org.jenkinsci.plugins.gogs.GogsProjectProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>10 0 * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd /var/lib/jenkins/HOME/_DB_Saves
ssh root@vps490005.ovh.net &lt;&lt;EOF
mysql -u root -p&quot;Palmier-10&quot; -N -e &apos;show databases&apos; | while read dbname; do mysqldump -u root -p&quot;Palmier-10&quot; --complete-insert --routines --triggers --single-transaction &quot;\$dbname&quot; &gt; VPS49_&quot;\$dbname&quot;_\$(date +%Y-%m-%d).sql; done
EOF

scp root@vps490005.ovh.net:/root/VPS49* .
ssh root@vps490005.ovh.net &apos;rm VPS49*&apos;

cd /var/lib/jenkins/HOME/_DB_Saves
find . -ctime +14 -exec rm {} \;</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>